body {
    margin: 0px;
    padding: 0px;
    background: #DDD;
    font-size: 16px;
    color: #222;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: 300;
}

h1 {
    font-family: 'Amatic SC', cursive;
    margin-top: 7px;
    margin-left: 1em;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    color: whitesmoke;
        
}
h2 {

    font-weight: 300;
    font-size: 28px;
    font-size: 24px;
    color: #222;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: normal;
}
.wrapper {
    height:37px;
    background-color: #48506d;
    border: 4px solid #48506d;
    padding-bottom: 10px;
    box-shadow: 0px 0px 11px 7px #48506d;
}
.response {
    padding: 5px;
    background: #ff5722;
    width: 200px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    float: right;
    right: 30px;
    bottom: 30px;
    position: fixed;
    display: none;
}

.loader {
    text-align: center;
    margin-bottom: 10px;
}

.holder {
    margin-left: 45em;
    position: absolute;
    top: 101px;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

    input[type="text"]:focus,
    input[type="password"]:focus {
        border-bottom: 2px solid #16a085;
        color: #16a085;
        transition: 0.2s ease;
    }

input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

    input[type="submit"]:hover,
    input[type="submit"]:focus {
        opacity: 0.8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

    input[type="submit"]:active {
        opacity: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

.inputWithIcon input[type=text], .inputWithIcon1 input[type=text] {
    padding-left: 40px;
}

.inputWithIcon, .inputWithIcon1 {
    position: relative;
}

    .inputWithIcon i, .inputWithIcon1 i {
        position: absolute;
        left: 0;
        top: 8px;
        padding: 9px 8px;
        color: #aaa;
        transition: .3s;
    }

    .inputWithIcon input[type=text]:focus + i, .inputWithIcon1 input[type=text]:focus + i {
        color: dodgerBlue;
    }

    .inputWithIcon.inputIconBg i {
        background-color: #aaa;
        color: #fff;
        padding: 9px 4px;
        border-radius: 4px 0 0 4px;
    }

    .inputWithIcon.inputIconBg input[type=text]:focus + i {
        color: #fff;
        background-color: dodgerBlue;
    }

    .inputWithIcon input[type=text] {
        padding-left: 40px;
    }

.inputWithIcon, .inputWithIcon1 {
    position: relative;
}

    .inputWithIcon i, .inputWithIcon1 i {
        position: absolute;
        left: 0;
        top: 2px;
        padding: 9px 8px;
        color: #aaa;
        transition: .3s;
    }

    .inputWithIcon input[type=text]:focus + i {
        color: dodgerBlue;
    }

    .inputWithIcon.inputIconBg i {
        background-color: #aaa;
        color: #fff;
        padding: 9px 4px;
        border-radius: 4px 0 0 4px;
    }

    .inputWithIcon.inputIconBg input[type=text]:focus + i {
        color: #fff;
        background-color: dodgerBlue;
    }

    .inputWithIcon1 i {
        top: -2px;
        left: -5px;
        font-size: 25px;
    }

@media (min-width:0px) and (max-width: 319px) {
    .holder {
        position: fixed;
        width: 100%;
        margin-top: 0px;
    }

        .holder input {
            width: 100%;
        }
}

@media (min-width:320px) and (max-width: 480px) {
    .holder {
        width: 100%;
        margin-top: 0px;
    }

        .holder input {
            width: 100%;
        }
